<div class="bg-gray-800 text-white p-4">
    <nav class="container mx-auto flex justify-between">
        <a href="/" class="text-2xl font-bold">Lego Collection</a>
        <div class="space-x-4">
            <a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a>
            <!--<button class="btn hover:text-gray-400 text-gray-400">About</button> -->
            <div class="dropdown dropdown-hover">
                <!--<a class="<%= (page == "/home") ? 'active' : '' %>" href="/about">Themes</a> -->
                <button class="btn hover:text-gray-400 text-gray-400">Themes</button>
                <div class="dropdown-content mt-2 shadow-lg w-70 bg-gray-800">
                    <ul class="space-y-2">
                        <a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets?theme=Town">Town</a>
                        <a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets?theme=Jumbo Bricks">Jumbo Bricks</a>
                        <a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets?theme=Books">Books</a>
                        <!--<li><a href="/lego/sets?theme=Town" class="block px-4 py-2 hover:bg-gray-700">Town</a></li>
                        <li><a href="/lego/sets?theme=Jumbo Bricks" class="block px-4 py-2 hover:bg-gray-700">Jumbo Bricks</a></li>
                        <li><a href="/lego/sets?theme=Books" class="block px-4 py-2 hover:bg-gray-700">Books</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>