<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Farbod Moayeri">
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/custom.css">
        <title>Sets</title>
    </head>
    <body class="grid grid-rows-[auto,1fr,auto] min-h-screen">
        <header>
            <%- include('partials/navbar', {page: '/ '}) %>
        </header>

        <main>
            <div class="container mx-auto p-4">
                <div class="hero bg-blue-500 text-white rounded-lg p-10 text-center mb-10">
                    <div class="hero-content text-center">
                        <div class="max-w-md">
                            <h1 class="text-4xl mb-4">Collection</h1>
                            <p class="py-5">doot doot
                                <a href="/lego/sets?theme="></a>
                            </p>
                        </div>
                    </div>
                    
                </div>
                
                <div id="legoList" class="overflow-x-auto overflow-y-hidden">
                    <table class="table table-zebra">
                        <tbody>
                            <% sets.forEach(lego=>{ %>
                            <tr class="legoRow">
                                <td>
                                    <div class="avatar relative">
                                        <!--<div class="w-32 h-32 rounded-lg" style="background-image: url('<%- lego.img_url %>');"></div>-->
                                        <img class="w-32 h-32 object-cover" src="<%- lego.img_url %>" alt="Lego Box Image">
                                    </div>
                                </td>
                                <td>
                                    <%= lego.name %> ~ <a href="/lego/sets?theme=<%= lego.theme %>" class="btn mt-2 btn-xs"><%= lego.theme %></a>
                                </td>
                                <td>
                                    <p class="font-bold">Year: <%= lego.year%> - </p>
                                    <p class="font-bold">Parts: <%= lego.num_parts%></p>
                                    
                                </td>
                                <td>
                                    <a href="/lego/sets/<%= lego.set_num %>">Details</a>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <%- include('partials/footer') %>
        
    </body>
</html>
